<tbody>
  <tr>
    <td
      align="center"
      style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
    >
      <table
        class="x_content"
        width="100%"
        cellpadding="0"
        cellspacing="0"
        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; margin:0; padding:0; width:100%"
      >
        <tbody>
          <tr>
            <td
              class="x_header"
              style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; padding:25px 0; text-align:center; background-color: #3869D4; background-image: url('http://educaplay.epn.edu.ec/images/logo.svg'); background-repeat: no-repeat;"
            >
              <a
                href="http://educaplay.epn.edu.ec"
                target="_blank"
                rel="noopener noreferrer"
                data-auth="NotApplicable"
                style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; color:#FFFFFF; font-size:19px; font-weight:bold; text-decoration:none"
                >Educaplay
              </a>
            </td>
          </tr>
          <tr>
            <td
              class="x_body"
              width="100%"
              cellpadding="0"
              cellspacing="0"
              style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; background-color:#FFFFFF; border-bottom:1px solid #EDEFF2; border-top:1px solid #EDEFF2; margin:0; padding:0; width:100%"
            >
              <table
                class="x_inner-body"
                align="center"
                width="570"
                cellpadding="0"
                cellspacing="0"
                style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; background-color:#FFFFFF; margin:0 auto; padding:0; width:570px"
              >
                <tbody>
                  <tr>
                    <td
                      class="x_content-cell"
                      style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; padding:35px"
                    >
                      <h1
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; color:#3869D4; font-size:19px; font-weight:bold; margin-top:0; text-align:left"
                      >
                        ¡Hola!
                      </h1>
                      <p
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; color:#222222; font-size:16px; line-height:1.5em; margin-top:0; text-align:left"
                      >
                        Estas recibiendo este email por que hemos recibido una
                        petición de reestablecer la contraseña.
                      </p>
                      <table
                        class="x_action"
                        align="center"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; margin:30px auto; padding:0; text-align:center; width:100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              align="center"
                              style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
                            >
                              <table
                                width="100%"
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      align="center"
                                      style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
                                    >
                                      <table
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box"
                                            >
                                              <a
                                                href="URL_RECUPERACION"
                                                target="_blank"
                                                rel="noopener noreferrer"
                                                data-auth="NotApplicable"
                                                class="x_button x_button-blue"
                                                style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; border-radius:3px; color:#FFF; display:inline-block; text-decoration:none; background-color:#3869D4; border-top:10px solid #3869D4; border-right:18px solid #3869D4; border-bottom:10px solid #3869D4; border-left:18px solid #3869D4"
                                                >Reestablecer contraseña</a
                                              >
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <p
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; color:#222222; font-size:16px; line-height:1.5em; margin-top:0; text-align:left"
                      >
                        Si no solicitaste reestablecer tu contraseña,
                        simplemente omite este email
                      </p>
                      <p
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; color:#222222; font-size:16px; line-height:1.5em; margin-top:0; text-align:left"
                      >
                        <br />Educaplay
                      </p>
                      <table
                        class="x_subcopy"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="font-family:Avenir,Helvetica,sans-serif; box-sizing:border-box; border-top:1px solid #EDEFF2; margin-top:25px; padding-top:25px"
                      >
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
